
@import "compass/reset";
@import "compass/css3";

$hue: 348;

nav {
	// colors
	> ul > li {
		background-color: hsla($hue, 0%, 30%, 1);
		border-bottom: 1px solid hsla($hue, 0%, 25%, 1);
		> a .drilldown {
			background-color: hsla($hue, 0%, 25%, 1);
			&:hover {
				background-color: hsla($hue, 0%, 23%, 1);
			}
		}
		&.active {
			background-color: hsla($hue, 100%, 30%, 1);
			> a .drilldown {
				background-color: hsla($hue, 100%, 25%, 1);
				&:hover {
					background-color: hsla($hue, 100%, 23%, 1);
				}
			}
		}
		> ul > li {
			background-color: hsla($hue, 0%, 40%, 1);
			border-bottom: 1px solid hsla($hue, 0%, 35%, 1);
			> a .drilldown {
				background-color: hsla($hue, 0%, 35%, 1);
				&:hover {
					background-color: hsla($hue, 0%, 33%, 1);
				}
			}
			&.active {
				background-color: hsla($hue, 100%, 40%, 1);
				> a .drilldown {
					background-color: hsla($hue, 100%, 35%, 1);
					&:hover {
						background-color: hsla($hue, 100%, 33%, 1);
					}
				}
			}
			> ul > li {
				background-color: hsla($hue, 0%, 50%, 1);
				border-bottom: 1px solid hsla($hue, 0%, 45%, 1);
				> a .drilldown {
					background-color: hsla($hue, 0%, 45%, 1);
					&:hover {
						background-color: hsla($hue, 0%, 43%, 1);
					}
				}
				&.active {
					background-color: hsla($hue, 100%, 50%, 1);
					> a .drilldown {
						background-color: hsla($hue, 100%, 45%, 1);
						&:hover {
							background-color: hsla($hue, 100%, 43%, 1);
						}
					}
				}
				> ul > li {
					background-color: hsla($hue, 0%, 60%, 1);
					&.active {
						background-color: hsla($hue, 100%, 60%, 1);
					}
				}
			}
		}
	}
	// indent
	li a {
		padding-left: 10px;
	}
	li li a {
		padding-left: 20px;
	}
	li li li a {
		padding-left: 30px;
	}
	// drilldown
	.drilldown {
		position: absolute;
		top: 0;
		right: 0;
		width: 36px;
		height: 100%;
		text-align: center;
		line-height: 30px;
		font-size: 30px;
	}
	// icon
	.icon:before {
		content: "›";
		width: 36px;
		height: 36px;
		display: inline-block;
		-webkit-transform: rotate(90deg);
	}
	.open > a .icon:before {
		-webkit-transform: rotate(-90deg);
	}
	//
	li {
		overflow: hidden;
	}
	li {
		> ul {
			max-height: 0px;
		}
		&.open > ul {
			max-height: none !important;
		}
	}
	a {
		color: white;
		text-decoration: none;
		display: block;
		padding: 10px;
		position: relative;
	}

}

.heightAuto {
	height: auto !important;
	max-height: none !important;
}



