
@import "compass/reset";
@import "compass/css3";

$hue: 0;

html {
	background-color: hsla($hue, 0%, 13%, 1);
}
body {
	max-width: 30em;
	margin: 60px auto;
}

@mixin colors($percent) {
	background-color: hsla($hue, 0%, $percent, 1);
	border-bottom: 1px solid hsla($hue, 0%, $percent - 5, 1);
	&:last-child {
		border: none;
	}
	> a .drilldown {
		background-color: hsla($hue, 0%, $percent - 5, 1);
		&:hover {
			background-color: hsla($hue, 0%, $percent - 7, 1);
		}
	}
	&.active {
		background-color: hsla($hue, 100%, $percent, 1);
		> a .drilldown {
			background-color: hsla($hue, 100%, $percent - 5, 1);
			&:hover {
				background-color: hsla($hue, 100%, $percent - 7, 1);
			}
		}
	}	
}

nav {
	// colors
	> ul > li {
		@include colors(20%);
		> ul > li {
			@include colors(25%);
			> ul > li {
				@include colors(30%);
				> ul > li {
					@include colors(35%);
				}
			}
		}
	}
	// indent
	li a {
		padding-left: 10px;
	}
	li li a {
		padding-left: 20px;
	}
	li li li a {
		padding-left: 30px;
	}
	// drilldown
	.drilldown {
		position: absolute;
		top: 0;
		right: 0;
		width: 36px;
		height: 100%;
		text-align: center;
		line-height: 30px;
		font-size: 30px;
	}
	// icon
	.icon:before {
		content: "›";
		width: 36px;
		height: 36px;
		display: inline-block;
		-webkit-transform: rotate(90deg);
	}
	.open > a .icon:before {
		-webkit-transform: rotate(-90deg);
	}
	//
	li {
		overflow: hidden;
	}
	li {
		> ul {
			max-height: 0px;
		}
		&.open > ul {
			max-height: none !important;
		}
	}
	a {
		color: white;
		text-decoration: none;
		display: block;
		padding: 10px;
		position: relative;
	}

}

.heightAuto {
	height: auto !important;
	max-height: none !important;
}



